
<div class="link about_link_cont">
  <!---div class="main">
    <!--        	<div class="about_link">
	       深圳<a href='http://www.ctmon.com' class='text_a'>网站建设</a>、深圳网络营销、<a href='http://www.ctmon.com' class='text_a'>深圳手机网站</a>、深圳<a href='http://www.ctmon.com' class='text_a'>移动互联</a>网营销、<a href='http://www.ctmon.com' class='text_a'>深圳手机app</a>、<a href='http://www.ctmon.com' class='text_a'>深圳微<a href='http://www.ctmon.com' class='text_a'>网站建设</a></a>。专注网络营销13年，服务过近百家行业龙头型企业，集团或上市公司，对<a href='http://www.ctmon.com' class='text_a'>营销型网站</a>、<a href='http://www.ctmon.com' class='text_a'>SEM营销</a>、<a href='http://www.ctmon.com' class='text_a'>移动互联</a>网营销经验丰富，结合10年来我们服务客户的经验，我们将产品整合到服务解决方案里，给客户提供优质高效的服务。我们和一流的企业合作，目的为客户提供一体化整体解决方案，全盘考虑客户在pc端和<a href='http://www.ctmon.com' class='text_a'>移动互联</a>网端的营销平衡，让企业高效的开展互联网下的立体营销。产品的交付才是服务的开始   
            </div>-->
  <!---ul>
      <li>
        <p>解决方案</p>
        <a href="/p_jjfa.htm">网络营销策划</a> <a href="/p_jjfa.htm">营销型网站建设</a> <a href="/p_jjfa.htm">手机网站</a> <a href="/p_jjfa.htm">微网站建设</a> <a href="/p_jjfa.htm">高端品牌网站建设</a> </li>
      <li>
        <p>服务专区</p>
        <a href="/n_34.htm">营销型网站建设</a> <a href="/n_35.htm">移动互联网营销</a> <a href="/n_57.htm">网络基础业务</a> <a href="/n_61.htm">公司公告</a> </li>
      <li>
        <p>知识学院</p>
        <a href="/n_yxgl.htm">营销●管理</a> <a href="/n_zyfx.htm">专业●分享</a> <a href="/n_wlyxzs.htm">网络营销知识</a> </li>
      <li>
        <p>案例展示</p>
        <a href="/n_qt.htm">全网营销平台</a> <a href="/n_shop.htm">移动互联网</a> <a href="/n_263.htm">企业商城</a> <a href="/n_58.htm">263云通讯</a> </li>
      <li>
        <p>产品中心</p>
        <a href="/p_qygw.htm">全网营销平台</a> <a href="/p_ydhl.htm">移动互联网定制</a> <a href="/p_qysc.htm">企业商城</a> <a href="/p_263.htm">263云通讯</a> <a href="/p_wljc.htm">网络基础业务</a> <a href="/p_wlyxwb.htm">网络营销外包</a> <a href="http://wx.ctmon.com" target="_blank">微信营销平台</a> </li>
      <li>
        <p>创同盟</p>
        <a href="/n_khgy.htm">客户感言</a> <a href="/p_about.htm">了解创同盟</a> <a href="/p_zsjm.htm">商务合作</a> <a href="/p_gnxs.htm">加入我们</a> <a href="/n_rfqc.htm">燃放青春</a> </li>
      <li>
        <p>联系我们</p>
        <a href="/p_lxwm.htm">地图上找到我们</a> </li>
    </ul>
  </div-->
  <div class="about_link_a">
    <div class="main">
      <div class="cz_link">
        <div class="cz_link_a">
          <div class="a"><img width="117" height="117"  src="{PUBLIC}/images/images/20140417172211_5092.jpg"  alt="创同盟手机网站！"></div>
          <div class="b">创同盟手机网站！</div>
        </div>
        <div class="cz_link_a">
          <div class="a"><img width="117" height="117" src="{PUBLIC}/images/images/20140417172211_5092.jpg" alt="关注创同盟企业微信"></div>
          <div class="b">关注创同盟企业微信</div>
        </div>
        <div class="cz_link_b">
          <div class="cz_link_bt"> <a class="a" href="/p_lxwm.htm">我要留言</a> <a class="b" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwOTE1M18xNjE4NjJfNDAwNjA2NjYzOF8yXw">企业QQ</a> <a class="c" href="http://weibo.com/u/5132507532" target="_blank">企业微博</a> </div>
          <div class="cz_link_bc"><img width="213" height="36" src="{PUBLIC}/images/images/about_ff.jpg" alt="网络营销专家"></div>
        </div>
        <div class="cz_link_c">
          <p class="a">联系我们</p>
          <p class="b">地址/Add：   广东省深圳市宝安区宝民一路宝通大厦8楼 </p>
          <p class="c">电话/Tel：   0755-32998668/8669 </p>
          <p class="d">邮箱/Mail： <a href="mailto:dm@ctmon.com">dm@ctmon.com</a></p>
          <!--weibo-->
          <div style="width:230px;margin:"><span style="float:left;width:65px;">
            <wb:follow-button uid="5132507532" type="gray_1" width="100%" height="24" ></wb:follow-button>
            </span> </div>
        </div>
      </div>
      <div class="co">
        <div class="a"><img width="275" height="3" src="{PUBLIC}/images/images/about_gg.jpg" alt="深圳做网站"></div>
        <div class="b"><img width="275" height="3" src="{PUBLIC}/images/images/about_gg.jpg" alt="深圳手机网站"></div>
        Copyright &copy; 深圳创同盟科技 All Rights Reserved 版权 <a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备13075754号</a></div>
    </div>
  </div>
</div>


执行时间:{elapsed_time}  内存消耗：{memory_usage}


<style type="text/css">
/*弹出层的STYLE*/
#popDiv {
width:412px;
background: #faf217;
font-style: italic;
padding:0 0 10px 0;
border-top:none;
text-align: left;
font-size: 12px;
z-index:99;
left:50%;/*FF IE7*/
top: 50%;/*FF IE7*/
margin-left:-200px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
#popDiv a{text-decoration:none;color:#000;}
#popDiv a:hover{color:#f60;}
#isclose{
  position:absolute;
  bottom:5px;
  right:6px;
}
#aClose,#acontinue{
  border:1px solid #bc1313;
padding:2px 5px;
background:#bc1313;
}
 
#bg{background:#fcf6f0;width:100%;height:100%;z-index:98;filter:Alpha(Opacity:"50");	font-style: italic;}
#popDiv h1{font-size:12px;line-height:24px;background: #bc1313;;line-height:30px;color:#FFF; 	font-style: italic;}
#popDiv h2{font-size:12px;text-indent:24px;line-height:24px;color:#333;font-weight:normal;padding:10px;color:#000; 	font-style: italic;}
#popDiv p{line-height:24px;display:inline-block;text-indent:24px; color:#000; 	font-style: italic;}
/*The END*/
</style>
<div id="bg"></div>
<div id="popDiv" style="display:none;">
<h1>{$webname}友情提示：</h1>
<h2>您使用的是较低版本浏览器，本站已全面不兼容IE6版浏览器。建议您使用 IE7.0 以上 或其他较新版本浏览器，以便更好的感受本系统的各项特色功能及服务，感谢您对{$webname}的关心和支持。</h2>
<p>政策咨询热线：0515-80620336</p>
<p>技术支持热线：18262369067</p>
<p>企业QQ     ：80085329</p>
<p id="isclose"><a title="" href="javascript:void()" id="acontinue">继续使用</a> <a title="" href="javascript:closeDiv()" id="aClose">关闭窗口</a></p>
</div>
<!--ie6弹出层显示信息end-->
