
<footer id="footer">
  <div class="footerb">Copyright &#169; 2013-2014 Carvso. All Rights Reserved <span>粤ICP备14020492号-1 执行时间:{elapsed_time}  内存消耗：{memory_usage}</span> </div>
{if $tcid =='0'}  
  <div class="link_content">
  <div class="link">
      <div class="link_title">友情链接：</div>
      <div class="link_list"> <a href="http://www.gztsc.com" title="淘商城创意园" target="_blank">淘商城创意园</a> <span style="margin:0 8px;">|</span> <a href="http://www.tianya.cn" title="天涯论坛" target="_blank">天涯论坛</a> <span style="margin:0 8px;">|</span> <a href="http://www.chinaz.com" title="站长之家" target="_blank">站长之家</a> <span style="margin:0 8px;">|</span> <a href="http://www.google.cn" title="谷歌搜索" target="_blank">谷歌搜索</a> <span style="margin:0 8px;">|</span> <a href="http://www.baidu.com" title="百度搜索" target="_blank">百度搜索</a> <span style="margin:0 8px;">|</span> <a href="http://www.lj100.cc/" title="环球旅居网络科技" target="_blank">环球旅居网络科技</a> <span style="margin:0 8px;">|</span> <a href="http://www.bjszhd.net/" title="北京神州互动" target="_blank">北京神州互动</a> <span style="margin:0 8px;">|</span> </div>
    </div>
  </div>
  {/if}
</footer>
<!-- 返回顶部 -->
<div id="back_to_top"> <a href="javascript:void(0);">顶部</a> </div>
<script type="text/javascript">
    $(document).ready(function () {
        

	$("#yc-mod-slider").slide({mainCell:"#banner",effect:"leftLoop",vis:1,scroll:1,autoPlay:true,delayTime :1000});
	$("#clients").slide({mainCell:"#bd",effect:"leftLoop",vis:1,scroll:1,autoPlay:false,delayTime :1000});


        
    });
</script>