
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{$catename} -{$webname}</title>
<meta name="keywords" content="{$catekey}" />
<meta name="description" content="{$catedes}" />
<link href="{PUBLIC}style/home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{PUBLIC}style/home/js/html5.js?v=3.6"></script>
<script type="text/javascript" src="{PUBLIC}style/js/jquery.min.js?v=1.10.2"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/jquery.SuperSlide.js?v=1.2"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/jquery.easing.min.js?v=1.3"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/main.js?v=1.1"></script>

</head>
<body>
{load head.html}

<div class="hgrap">&nbsp;</div>

<section id="scheme">
	<div class="scheme_quan" id="scheme_quan">
    	<p class="slight_cn">标准建站</p>
		<p class="slight_en pa">STANDARD BUILD</p>
    </div>
    <div class="scheme_detail">
    	<div>
"标准建站"是四海网络科技网站建设服务三大品牌之一。标准建站专注于千百万中小企业网站建设，已建立了2千多个企业网站。用平民的价格，做标准化服务，给广大中小企业建好网站。"好网站，好生意"，是我们长期追求的理想。四海网络科技，从事网站建设八年，是广州最早从事互联网服务的企业之一，已为多家上市公司、众多国内外知名企业，建立了效果显著的网站。四海网络科技的建站经验，客户运用效果、经营业绩，在网络公司中名列前矛。标准建站品牌，凭借四海网络领先的技术、经验，将成为企业用好互联网的主要伙伴。我们和客户，一起把网站做得更好！</div>    </div>
    
    <div class="case_tit scheme_tit">
        <span class="en">FEATURE LIST</span><b>.</b>功能清单<br><label>客户可从四海网络标准建站系统25个功能模块中任意选择12个功能模块，做为网站的功能。</label>
    </div>
    <div class="scheme_scroll">
    	<div class="scheme_scroll_prev prev"></div>
        <div class="scheme_scroll_next next"></div>
        <div class="scheme_scroll_body">
            <ul id="bd">
				            	<li>关于我们</li>
				            	<li>新闻中心</li>
				            	<li>产品中心</li>
				            	<li>工程案例</li>
				            	<li>视频展示</li>
				            	<li>杂志期刊</li>
				            	<li>图片库</li>
				            	<li>下载中心</li>
				            	<li>人才招聘</li>
				            	<li>留言板</li>
				            	<li>销售网络</li>
				            	<li>友情链接</li>
				            	<li>FAQ</li>
				            	<li>在线调查</li>
				            	<li>会员中心</li>
				            	<li>荣誉资质</li>
				            	<li>政策法规</li>
				            	<li>招投标系统</li>
				            	<li>广告系统</li>
				            	<li>Discuz论坛</li>
				            	<li>在线客服</li>
				            	<li>微博嵌入</li>
				            	<li>分享</li>
				            	<li>流量统计</li>
				            	<li>联系我们</li>
				            </ul>
            <ul id="hd">
				<li class="on"></li><li class="on"></li><li class="on"></li><li class="on"></li><li class="on"></li>     
               
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="case_tit scheme_tit scheme_tit2">
        <span class="en">AFTERMARKET</span><b>.</b>免费售后服务说明（第一年内）
    </div>
    <p style="width:900px;margin:0 auto"><img src="{PUBLIC}style/home/images/fangandetail_25.png" width="901"></p>
</section>
<article>
		<div class="wap_station">
	<div class="art_mobile">
    	<div class="art_mobile_1">
        	<img src="{PUBLIC}style/home/images/mobile__08.png">
        </div>
        <div class="art_mobile_2">
        	<img src="{PUBLIC}style/home/images/mobile__03.jpg">
        </div>
        <div class="art_mobile_3">
        	<img src="{PUBLIC}style/home/images/mobile__08.jpg">
        </div>
    </div>
    <p class="station_detail">格瑞特引擎能让用户在短时间内迅速架设属于自己公司的企业级3G手机网站。集成管理后台，易学易懂，用户只需会上网、不需要专业建站技术，即可在线直接完成建站所有工作。同时该系统采用组件化管理。网站具有文章发布管理、图片发布管理、表单及留言管理等多种功能，满足各类需求。 </p>
    </div>
    <div class="station_list">
		    	<div class="s_l_content">
        	<div class="s_l_C_title">随时随地手机访问</div>
            <div class="s_l_c_text">在城市，手机拥有率达到97.8%，但只有35.4%的人有电脑，您可以时时带着手机，但您不可能时时带着电脑。传统网站不能通过手机访问，而四海网络手机wap网站能够实现随时、随地、随身访问，让您的客户真正实现随时随地找到您。</div>
        </div>
		    	<div class="s_l_content">
        	<div class="s_l_C_title">快速访问，无需安装</div>
            <div class="s_l_c_text">四海网络帮助企业快速搭建完善的3G网站平台，在移动营销推广领域大大领先竞争对手，抓住商机。在手机浏览器输入企业网址，即可快速访问四海网络手机wap网站，无需任何安装过程。</div>
        </div>
		    	<div class="s_l_content_r">
        	<div class="s_l_C_title">网址自动跳转</div>
            <div class="s_l_c_text">若企业有官方网站，能够实现系统自动识别:使用电脑浏览器输入企业官方网址，正常访问企业官网；若使用手机浏览器访问，系统自动识别，则自动跳转至手机网站访问。</div>
        </div>
		    	<div class="s_l_content">
        	<div class="s_l_C_title">与PC官网相辅相成</div>
            <div class="s_l_c_text">四海网络手机wap网站是新一代的移动网站建设系统。它采用云服务模式，跟你的PC企业网站绑定，后台操作直接集成在原PC网站后台，直接操作后台即可应用各种强大丰富的功能模块，包括苹果、Android手机网页特效，轻松构建企业个性化的3G手机网站。</div>
        </div>
		    	<div class="s_l_content">
        	<div class="s_l_C_title">塑造企业领先形象</div>
            <div class="s_l_c_text">四海网络手机网站帮助企业展示产品、技术和专利、售后服务，并且帮助经销商在移动平台上进行品牌宣传，统一的网站更有助于企业品牌整合，提高消费者对品牌的认可。可以为各个经销商制作移动网站，统一风格，提升品牌形象，方便渠道推广。</div>
        </div>
		    	<div class="s_l_content_r">
        	<div class="s_l_C_title">传统媒体的延伸</div>
            <div class="s_l_c_text">二维码通过智能手机摄像头扫描即可解码,获取其中的文本、链接、名片、号码等信息.免去了手机输入信息不便的麻烦.传统媒体投放时,比如电视广告、户外广告、印刷品、名片等都可以带上二维码，用户用相应软件扫描即可浏览网站，即可获取更多信息。</div>
        </div>
		        <div class="clear"></div>
		<div class="zd"></div>
    </div>
	
	
</article>

<script type="text/javascript">
$(function(){
	jQuery(".scheme_scroll").slide({mainCell:"#bd",effect:"leftLoop",vis:5,scroll:5,autoPlay:false,delayTime :1000,titCell:"#hd li"});
	$("#scheme_quan").hover(function(){
		$(".scheme_detail").css({"background":"#000","border":"1px solid #000","border-left":"0px","border-right":"0px"});
	},function(){
		$(".scheme_detail").css({"background":"none","border-top":"1px solid #514f4f","border-bottom":"1px solid #514f4f"});
	});
	
	$(".art_mobile_1,.art_mobile_3").hover(function(){
		$(this).stop(false,true).animate({"bottom":0},{duration:500,easing:"easeOutBounce"});
	},
	function(){
		$(this).stop(false,true).animate({"bottom":-213},{duration:600});
	});
});
</script>
{load foot.html}
</body>
</html>
