<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{$catename} -{$webname}</title>
<meta name="keywords" content="{$catekey}" />
<meta name="description" content="{$catedes}" />
<link href="{PUBLIC}style/home/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{PUBLIC}style/home/js/html5.js?v=3.6"></script>
<script type="text/javascript" src="{PUBLIC}style/js/jquery.min.js?v=1.10.2"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/jquery.SuperSlide.js?v=1.2"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/jquery.easing.min.js?v=1.3"></script>
<script type="text/javascript" src="{PUBLIC}style/home/js/main.js?v=1.1"></script>
</head>
<body>
{load head.html}
<div class="hgrap">&nbsp;</div>
<section class="nabout" id="about">
  <div class="case_tit about_tit"> <span class="en">INTRODUCTION</span><b>.</b>四海网络介绍 </div>
  <div class="nabout_detail">
    <div class="nabout_icon">
      <div class="nabout_icon_pic"> <img src="{PUBLIC}style/home/images/about_quan_04.png" width="200" height="200">
        <div class="nabout_icon_pic_info">
          <p class="slight_cn">钜细靡遗的四海网络</p>
          <p class="slight_en pa">ABOUT US</p>
        </div>
      </div>
      <div class="nabout_icon_detail">
        <p>四海网络以崭新的思维、年轻的视野，国际的感觉与本土文化的设计观念，前瞻而务实的品质运作，为企业提供一流的信息化平台的开发建设服 务及视觉设计方案。无论您是房产业还是零售业，珠宝业、美容业抑或餐饮业...... 我们会真正做到网商天下，钜细靡遗！与您一起分享探 索与创造的成就感。</p>
      </div>
    </div>
    <div class="nabout_icon nabout_icon_mid" style="margin:0px 80px;">
      <div class="nabout_icon_pic"> <img src="{PUBLIC}style/home/images/about_quan_04.png" width="200" height="200">
        <div class="nabout_icon_pic_info">
          <p class="slight_cn">四海网络想法</p>
          <p class="slight_en pa">OUR IDEA</p>
        </div>
      </div>
      <div class="nabout_icon_detail">
        <p>富于想法的团队更加富于创造，四海网络秉承“创造、激情、梦想”的企业精神；发展过程中注重塑造企业品牌内涵；以正确的方式做正确的事 ，这不只是一点想法，更是四海网络态度！
          四海网络诚邀您携手致力于网络事业的发展，竭诚为大中小型企业提供优质全方位的网站建设服务。</p>
      </div>
    </div>
    <div class="nabout_icon" style="width:290px;">
      <div class="nabout_icon_pic"> <img src="{PUBLIC}style/home/images/about_quan_04.png" width="200" height="200">
        <div class="nabout_icon_pic_info">
          <p class="slight_cn">四海网络团队</p>
          <p class="slight_en pa">ENERGY TEAM</p>
        </div>
      </div>
      <div class="nabout_icon_detail">
        <p>我们是一群80后的文艺青年 <br />
          我们期盼世界更精彩 <br />
          四海网络　其实只是我们对一同走过岁月的一份追溯 <br />
          但今天我们依旧在这里 <br />
          为着自己的梦想努力着，让人们记得我们曾经存在过...</p>
      </div>
    </div>
  </div>
</section>
<div class="case_tit"> <span class="en">ABOUT US</span><b>.</b>关于我们 </div>
{load foot.html}
</body>
</html>
