<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>回复</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form action="<?php echo $this->module_url('updata_s');?>" method="post" >
 <input type="hidden" value="<?php echo $data['id']?>" name="id" />
  <div class="formbody">
    <ul class="forminfo">
      <li>
        <label>标题</label>
        <input name="title" type="text" class="dfinput"   value="<?php echo $data['title']?>"  style="width:255px;"/>
      </li>
      <li>
        <label>内容:</label>
   
		<textarea name="content"  class="dfinput"  style="width:255px; height:80px; line-height:20px;"><?php echo $data['content']?></textarea>
		
      </li>
      <li>
        <label style="color:#FF0000;">管理员回复：</label>
 
	   <textarea name="admin_content"  class="dfinput"  style="width:255px; height:80px; line-height:20px;border: 1px solid #FF0000;"><?php echo $data['admin_content']?></textarea>
		
		
      </li>


      <li>
        <label>&nbsp;</label>
        <input type="submit" value="保存"  class="btn" />
      </li>
    </ul>
  </div>
</form>
</body>
</html>
