<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类管理</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo base_url('public/admin');?>/js/jquery-1.7.2.min.js"></script>
<SCRIPT LANGUAGE=javascript>   
function p_del() {   
var msg = "请确定是否删除!";   
if (confirm(msg)==true){   
return true;
}else{   
return false;   
}  
}   
</SCRIPT>
<script language="javascript"> 
function tosubmit1() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/content_sort/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); } 
function tosubmit2() { 
var msg = "确定批量删除内容吗？删除将不可恢复！请确定！";   
if (confirm(msg)==true){   
document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/p_hsz/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); 
}else{   
return false;   
}  
} 
function tosubmit3() { window.location.href="<?php echo site_url(APP_ADMIN.'/content/hsz/'.$cid);?>";  }
function tosubmit4() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/content_hsz_hf_s/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); } 
 
function tosubmit5() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/content_hsz_del_s/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); } 

function yidong() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/yidong/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); } 
function fuzhi() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/content/fuzhi/'.$tablename.'/'.$cid);?>"; document.submitform1.submit(); } 


function soso() { document.submitform1.action=" <?php echo site_url(APP_ADMIN.'/content/content_right/'.$cid.'/soso');?>"; document.submitform1.submit(); } 



 </script>
 
<style type="text/css">
<!--
.waibu {
	color: #FF0000;
}
.wu {
	background-image: url(<?php echo base_url('public/admin/');?>/images/toolbg.gif);
	font-family: "微软雅黑";
 
}
.flag {
	color: #990000;
	clear: both;
	float: none;
	display: inline;
}
.page .yidong {
	border: 1px solid #CCCCCC;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #FFFFFF;
	color: #666;
	font-size: 12px;
	font-family: "微软雅黑";
}
-->
</style>
<script language="javascript">
  $(function ($) { 
	  //点击主菜单下面的子菜单全部选中
	   $('#selectAll').click(function (){
	       var inputs = $(this).parents('#app').find('input');
		   $(this).attr('checked') ? inputs.attr('checked','checked'):
		   inputs.removeAttr('checked');
	      });
       });
 
   
</script>
</head>
<body>

  <div class="place" > <span>位置：</span>
    <ul class="placeul">
      <li><a href="<?php echo site_url(APP_ADMIN.'/home/main')?>">后台首页</a></li>
      <li><a href="#">
        <?php
	   if($laji){
	   echo '回收站';
	   }else{
	   echo "内容管理";
	   }
	  ?>
        </a></li>
		
		     <li><?php  $name=$this->cate->name_cid($cid); echo $name['name'];?></li>
		
    </ul>
  </div>
  <div class="rightinfo">
    <div class="tools">
	<form name="submitform1" action="" method="post"  >
      <ul class="toolbar">
        <?php if(!$laji){?>
        <li><a href="<?php echo site_url(APP_ADMIN.'/content/add/'.$tablename.'/'.$cid);?>"><span><img src="<?php echo base_url('public/admin');?>/images/t01.png" /></span>添加内容</a></li>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/t02.png" /></span>
          <input type="button" name="submit1" class="wu" value="更新顺序" onclick="tosubmit1()" >
        </li>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/t03.png" /></span>
          <input type="button" name="submit2" class="wu" value="批量删除" onclick="tosubmit2()" >
        </li>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/t06.png" /></span>
          <input type="button" name="submit2" class="wu" value="回收站" onclick="tosubmit3()" >
        </li>
        <?php }else{?>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/30.png" /></span>
          <input type="button" name="submit2" class="wu" value="返回列表" onClick="window.location.href='<?php echo site_url(APP_ADMIN.'/content/content_right/'.$cid);?>'"  >
        </li>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/15.png" /></span>
          <input type="button" name="submit2" class="wu" value="批量恢复" onclick="tosubmit4()" >
        </li>
        <li><span><img src="<?php echo base_url('public/admin');?>/images/t03.png" /></span>
          <input type="button" name="submit2" class="wu" value="批量彻底删除" onclick="tosubmit5()" >
        </li>
        <?php }?>
	
      </ul>
	 
	  
 <ul class="seachform">
 
    <li><label>搜索：</label><input name="title" type="text" class="scinput" value="<?php if($this->uri->segment(5)) {echo $so_title;}?>" /></li>
    <li>
    <div class="vocation">
    <select  class="dfinput"  name="type" style="width:50px;"   >
    <option value="0">模糊</option>
    <option value="1">精确</option>
    </select>
    </div>
    </li>
    
 

    <li><label>&nbsp;</label><input    type="button" class="scbtn" value="查询" onclick="soso()"  /></li>
 
    </ul>
	  
	 
	  
	  
	  
      <!--ul class="toolbar1">
        <li><span><img src="<?php echo base_url('public/admin');?>/images/t04.png" /></span><a href="<?php echo site_url(APP_ADMIN.'/cate/p_addcate');?>">批量添加</a></li>
      </ul-->
    </div>
    <table class="tablelist" id="app">
      <thead>
        <tr>
          <th width="4%"> <input type="checkbox" id="selectAll" class='xzk' level='1'></th>
          <th width="5%">编号<i class="sort"><img src="<?php echo base_url('public/admin');?>/images/px.gif" /></i></th>
          <th >标题</th>
          <th width="8%">发布时间</th>
          <th width="15%">分类</th>
          <th width="5%">次数</th>
          <th width="5%">排序</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($content as $v):?>
        <tr class="trz">
          <td><input name="del[]"  type="checkbox" value="<?php echo $v['id'];?>"   class='xzk'/>
          </td>
          <td><?php echo $v['id'];?></td>
          <td>
		<?php echo substr_ext($v['title'],0,35);?>  
		  <!--?php if(!empty($v['litpic'])){echo "<img style='width:20px;height:16px;line-height:50px;' src='".base_url('/public/admin/images/jpg.gif')."'";}?-->
		   <?php if(!empty($v['litpic'])){echo "<span class='flag'>[图片]</span>";}?>
		   
		   </td>
          <td><?php  echo date("Y-m-d",$v['publishtime'])?></td>
          <td><?php  echo $v['cname'] ?>
          </td>
          <td><?php  echo $v['click'] ?>
          </td>
          <td><input type="text" name="id_<?php echo $v['id'];?>" value="<?php echo $v['sort'];?>" class="inputsort" />
          </td>
          <td ><?php if(!$laji){?>
            <a href="" class="edit">评论</a> &nbsp; <a href="<?php echo site_url(APP_ADMIN.'/content/content_updata/'.$tablename.'/'.$v['id'].'/');?>" class="edit">编辑</a> &nbsp; <a href="<?php echo site_url(APP_ADMIN.'/content/content_hsz_del/'.$tablename.'/'.$v['id'].'/'.$v['cid']);?>" onclick="javascript:return p_del()" >删除</a>
            <?php }else{ ?>
            <a href="<?php echo site_url(APP_ADMIN.'/content/content_hsz_hf/'.$tablename.'/'.$v['id'].'/'.$v['cid']);?>" >恢复</a> <a href="<?php echo site_url(APP_ADMIN.'/content/content_del/'.$tablename.'/'.$v['id'].'/'.$v['cid']);?>" onclick="javascript:return p_del()" >彻底删除</a>
            <?php } ?>
          </td>
        </tr>
        <?php endforeach ?>
      </tbody>
    </table>
    <tbody>
    <tbody>
    </tbody>
    </table>
	 
    <div class="page">
	
	<a>操作：</a> 

	
	<select name="cid" class="yidong"  >
	 
					<?php foreach($cate as $v):?>
					<option   <?php if($cid == $v['id']){echo "selected='selected'";}?>  value="<?php echo $v['id']?>" >
				    <?php if($v['pid'] != 0){echo '├─';}?>
					<?php echo $v['name']?></option>
					<?php endforeach?>
					 
				  </select>
	
	
	    <input type="button" name="submit2" class="yidong" value="移动" onclick="yidong()"  >  
 
	 <input type="button" name="submit2"  class="yidong" value="复制" onclick="fuzhi()" > 
 
	
	
	
	 <?php echo $page;?> <a> 每页显示</a> <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?page=10';?>">10</a> <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?page=20';?>">20</a> <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?page=30';?>">30</a> <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?page=50';?>">50</a> <a>条 </a> </div>
  </div>
	</form>
</body>
</html>
