<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑模型</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form name="" action="<?php echo site_url(APP_ADMIN.'/model/updata');?>" method="post">
  <input type="hidden" name="id"  value="<?php echo $model['id'];?>" />
  <div class="place"> <span>位置：</span>
    <ul class="placeul">
      <li><a href="<?php echo site_url(APP_ADMIN.'/home/main');?>">后台首页</a></li>
      <li><a href="#">编辑模型</a></li>
    </ul>
  </div>
  <div class="formbody">
    <div class="formtitle"><span>编辑模型</span></div>
    <ul class="forminfo">
      <li>
        <label>模型名称</label>
        <input   name="name"  value="<?php echo $model['name'];?>" type="text" class="dfinput" />
        <i>标题不能超过30个字符</i></li>
      <li>
        <label>附 加 表</label>
        <input   name="tablename"  value="<?php echo $model['tablename']?>" type="text" class="dfinput" />
        <i>(表名小写，去掉默认表前缀) </i></li>
      <li>
        <label>列表模板：</label>
        <select name="template_list" class="inputauto">
          <?php foreach($template_list as $v):?>
          <option value="<?php echo $v?>"  <?php if($v == $model['template_list']){ echo "selected='selected'";}?> ><?php echo $v?></option>
          <? endforeach?>
        </select>
      </li>
      <li>
        <label>内容模板： </label>
        <select name="template_show" class="inputauto">
          <?php foreach($template_show as $v):?>
          <option value="<?php echo $v?>"  <?php if($v == $model['template_show']){ echo "selected='selected'";}?>><?php echo $v?></option>
          <? endforeach?>
        </select>
      </li>
      <li>
        <label>wap_列表模板：</label>
        <select name="template_list_wap" class="inputauto">
          <?php foreach($template_list_wap as $v):?>
          <option value="<?php echo $v?>"  <?php if($v == $model['template_list_wap']){ echo "selected='selected'";}?> ><?php echo $v?></option>
          <? endforeach?>
        </select>
      </li>
      <li>
        <label>wap_内容模板： </label>
        <select name="template_show_wap" class="inputauto">
          <?php foreach($template_show_wap as $v):?>
          <option value="<?php echo $v?>"  <?php if($v == $model['template_show_wap']){ echo "selected='selected'";}?> ><?php echo $v?></option>
          <? endforeach?>
        </select>
      </li>
      <li>
        <label>顺     序： </label>
        <input name="sort" value="<?php echo $model['sort']?>"  class="dfinput"  />
      </li>
      <li>
        <label>状     态： </label>
        <select name="status"  <?php if($model['lock']) {echo "disabled='disabled'";} ?>   class="inputauto">
          <option value="1" <?php if($model['lock'] == 1){ echo "selected='selected'";}?> >锁定</option>
          <option value="0" <?php if($model['lock'] == 0){ echo "selected='selected'";}?> >开启</option>
        </select>
      </li>
      <li>
        <label>描      述： </label>
        <textarea name="description" cols="" rows="" class="textinput"><?php echo $model['description']?></textarea>
      </li>
      <li>
        <label>&nbsp;</label>
        <input name=""  type="submit" class="btn" value="确认保存"/>
      </li>
    </ul>
  </div>
</form>
</body>
</html>
