<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类管理</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo base_url('public/admin');?>/js/jquery-1.7.2.min.js"></script>
<script src="<?php echo base_url('public');?>/layer/layer.min.js"></script>
<SCRIPT LANGUAGE=javascript>   
function p_del() {   

var msg = "确定删除吗？";   
if (confirm(msg)==true){   
return true;
}else{   
return false;   
}  

 
}   


</SCRIPT>  


<script language="javascript"> 
function tosubmit1() { document.submitform1.action="<?php echo site_url(APP_ADMIN.'/model/p_sort');?>"; document.submitform1.submit(); } 
function tosubmit2() { 
var msg = "确定批量删除分类吗？删除将不可恢复！请确定！";   
if (confirm(msg)==true){   
document.submitform1.action="<?php echo site_url(APP_ADMIN.'/cate/p_del');?>"; document.submitform1.submit(); 
}else{   
return false;   
}  
} 
function tosubmit3() { document.submitform1.action="3.asp"; document.submitform1.submit(); }
 </script> 
		
 
<style type="text/css">
<!--
.waibu {
	color: #FF0000;
}
.wu {
	background-image: url(<?php echo base_url('public/admin/');?>/images/toolbg.gif);
	font-family: "微软雅黑";
	line-height: 33px;
}
-->
</style>



<script language="javascript">
  $(function ($) { 
	  //点击主菜单下面的子菜单全部选中
	   $('#selectAll').click(function (){
	       var inputs = $(this).parents('#app').find('input');
		   $(this).attr('checked') ? inputs.attr('checked','checked'):
		   inputs.removeAttr('checked');
	      });
       });
 
   
</script>
</head>
<body>
   
    <form name="submitform1" action="" method="post"  >
	
	<div class="place" >
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="<?php echo site_url(APP_ADMIN.'/home/main')?>">后台首页</a></li>
     <li><a href="#">模型管理</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li><a  href="javascript:;" id="testMaxmin"  ><span><img src="<?php echo base_url('public/admin');?>/images/t01.png" /></span>添加模型</a></li>
		
		    <li><a  href="javascript:;" id="diyfield"  ><span><img src="<?php echo base_url('public/admin');?>/images/t011.png" /></span>添加字段</a></li>
 
		<li><span><img src="<?php echo base_url('public/admin');?>/images/t02.png" /></span> <input type="button" name="submit1" class="wu" value="更新顺序" onclick="tosubmit1()" ></li>
 
		
		
      
        </ul>
        
		
 
		
        
        <!--ul class="toolbar1">
   
		
		 <li><span><img src="<?php echo base_url('public/admin');?>/images/t04.png" /></span><a href="<?php echo site_url(APP_ADMIN.'/cate/p_addcate');?>">批量添加</a></li>
        </ul-->
    
    </div>

    
    <table class="tablelist" id="app">
    	<thead>
    	<tr>
        <th width="4%">  <input type="checkbox" id="selectAll" class='xzk' level='1'></th>
        <th width="9%">编号<i class="sort"><img src="<?php echo base_url('public/admin');?>/images/px.gif" /></i></th>
		
		
        <th width="11%">模型名称</th>
 
      
        <th width="18%">附加表</th>
        <th width="15%">状态</th>
        <th width="15%">顺序</th>
        <th width="20%">操作</th>
        </tr>
        </thead>
        <tbody>
		
		
                    
                    <?php foreach ($model as $v):?>  

		
        <tr class="trz">
        <td><input name="del[]"  type="checkbox" value="<?php echo $v['id'];?>"   class='xzk'/> </td>
        <td><?php echo $v['id'];?></td>
		
        <td><?php echo $v['name']; ?></td>
		
		
		<td><?php  echo $v['tablename']; ?></td>
		
		
		 <td><?php    if($v['status']) {echo "开启";} else{ echo "关闭";} ?> </td>
        <td> <input type="text" name="sort_<?php echo $v['id']?>" value="<?php echo $v['sort'];?>" class="inputsort" /> </td>
	
   
	  
		<td><a    <?php if($v['id']==1){ echo "style='color: #999';";}?>  href="<?php if($v['id'] != '1'){echo site_url(APP_ADMIN.'/model/model_field/'.$v['id']);}else{ echo '#';}?>" class="edit">自定义字段管理</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="<?php echo site_url(APP_ADMIN.'/model/model_updata/'.$v['id']);?>" class="edit">编辑</a> &nbsp;&nbsp;&nbsp;&nbsp;
	         <a href="<?php echo site_url(APP_ADMIN.'/model/delete/'.$v['id'].'/'.$v['tablename']);?>" onclick="javascript:return p_del()"   >删除</a>
		 </td>
         </tr> 
        

		
	 <?php endforeach ?>
	
		
		     
        </tbody>
    </table>
    
 
    
    </div>
    </form> 
   <script>
$('#testMaxmin').on('click',  function(){           
    $.layer({
        type: 2,
		shift: 'top', //从上动画弹出
        border: [0], //不显示边框
        maxmin: true,
        title: ['添加模型', 'border:none; background:#3b95c8; color:#fff;' ],
        area: ['500px', '579px'],
        iframe: {src: '<?php echo site_url(APP_ADMIN.'/model/model_add');?>'},
		end: function(index){
	
		window.setTimeout("window.location='<?php echo site_url(APP_ADMIN.'/model');?>'",2000); 

		}
    })
	
	
});      


$('#diyfield').on('click',  function(){           
    $.layer({
        type: 2,
		 shift: 'top', //从上动画弹出
         maxmin: true,
        title: ['添加自定义字段',  'border:none; background:#3b95c8; color:#fff;'],
	     border: [0], //不显示边框
         area: ['500px', '575px'],
        iframe: {src: '<?php echo site_url(APP_ADMIN.'/model/model_field_add');?>'},
		end: function(index){
	
		window.setTimeout("window.location='<?php echo site_url(APP_ADMIN.'/model');?>'",2000); 

		}
    })
	
	
});      
 
 
 </script> 
 
 




 
</body>
</html>
