<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改友情链接</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<?php echo base_url('public/kd');?>/themes/default/default.css" />
<script charset="utf-8" src="<?php echo base_url('public/kd');?>/kindeditor-min.js"></script>
<script charset="utf-8" src="<?php echo base_url('public/kd');?>/lang/zh_CN.js"></script>
</head>
<body>
<form action="<?php echo $this->module_url('updata_s');?>" method="post" >
  <input type="hidden" name="id" value="<?php echo $link['id']?>"  />
  <div class="formbody">
    <ul class="forminfo">
      <li>
        <label>标题</label>
        <input name="title" type="text" class="dfinput"   value="<?php echo $link['title']?>"  style="width:255px;"/>
      </li>
      <li>
        <label>logo图片</label>
        <input name="pic" type="text" id="url" class="dfinput" style="width:170px;" value="<?php echo $link['pic']?>"    readonly="readonly" />
        <input type="button" id="uploadButton"   value="上传缩略图" />
      </li>
      <li>
        <label>网址</label>
        <input name="url" type="text" class="dfinput"  value="<?php echo $link['url']?>" style="width:255px;"/>
      </li>
      <li>
        <label>排序</label>
        <input name="sort" type="text" class="dfinput"  value="<?php echo $link['sort']?>"  style="width:255px;"/>
      </li>
      <li>
        <label>&nbsp;</label>
        <input type="submit" value="保存"  class="btn" />
      </li>
    </ul>
  </div>
</form>
<div style="display:none">
  <script >

KindEditor.ready(function(K) {
	var uploadbutton = K.uploadbutton({
		button: K('#uploadButton')[0],
		fieldName: 'imgFile',
		url: '<?php echo site_url(APP_ADMIN.'/upload/upimg/');?>',
		afterUpload: function(data) {
			if (data.error === 0) {
				var url = K.formatUrl(data.url, 'absolute');
				K('#url').val(url);
				alert('上传成功！ ')
			} else {
				alert(data.message)
			}
		},
		afterError: function(str) {
			alert('上传错误！ ' + str)
		}
	});
	uploadbutton.fileBox.change(function(e) {
		uploadbutton.submit()
	})
}); 

</script>
</div>
</body>
</html>
