<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="{$webname}" />
<title>{$catename}-{$webname}</title>
<meta name="keywords" content="{$catekey}" />
<meta name="description" content="{$catedes}" />
<link href="{PUBLIC}style/style.css" rel="stylesheet" />
<script type="text/javascript" src="{PUBLIC}js/jq1.91.js"></script>
</head>
<body>
{load top.html}
<div class="channelLine">
  <div class="wrap">
    <div class="posi"> {catepos($cid)} </div>
  </div>
</div>
<div class="n_cont">
  <div class="wrap fix">
    <div class="l side">
      <dl class="side_menu">
        <dt class="Tit2">{cate($tcid,'name')} </dt>
        {pc:content action="_cate" cid="$tcid" order="asc"}
        {loop $data $v}
        <dd><a href='{$v['url']}' {if $cid == $v['id']}class='thisclass' {/if}>{$v['name']}</a></dd>
        {/loop}
        {/pc}
      </dl>
    </div>
    <div class="r main">
      <div class="channelN">
        <div class="l Tit2">{$page[name]}</div>
      </div>
      <div class="oh myart">
        <div></div>
        {$page[content]}
        <div></div>
      </div>
    </div>
  </div>
</div>

{load foot.html}
</body>
</html>
