<div class="head pr"> <s class="pa shadow"></s>
  <div class="wrap fix">
    <div class="tr head_top">
      <div class="dib head_f">
        <form action="<?php echo site_url().'/search';?>" method="get">
          <input type="text" class="inp" name="q" id="s" style="padding-left:2px;" value="站内搜索"/>
          <input type="button" name="toptosearch" id="toptosearch" value=" " title="搜索" class="btn" />
          <input type="hidden"  name="type" value="2" />
          <script type="text/javascript">
		  $("#toptosearch").click(function(){$("#searchform").submit();});
		  $("#s").focus(function(){if($.trim($("#s").val())=='站内搜索'){$("#s").val("");}});
		  $("#s").blur(function(){if($.trim($("#s").val())==''){$("#s").val("站内搜索");}});
		  </script>
        </form>
      </div>
    </div>
    <h1 class="l logo"><a href="{base_url()}" title="{C('webname')}"><img src="{base_url(C('weblogo'))}" alt="{C('webname')}" /></a></h1>
    <div class="r nav pr">
      <ul>
	    <li class="li" id="top100"><a href="{base_url()}"  class="nav_cell" title=" ">首页</a> </li>
	  
        {pc:content action="_cate" num="10" order="asc" cid="0"}
        {loop $data $key $v}
        <li class="li" id="top10<?php echo $key+1?>"><a href="{$v['url']}"  class="nav_cell" title="{$v['name']}">{$v['name']}</a> {if !empty($v['x'])}
          <div class="nav_lev2 nav_lev2_6 navtoplev1"> <s class="pa shadow"></s>
            <div class="l percent30 nav_menu">
              <ul class="p20">
                {loop $v['x'] $v2}
                <li><a href="{$v2['url']}" title="{$v2['name']}">{$v2['name']}</a></li>
                {/loop}
              </ul>
            </div>
            <div class="l percent70">
              <div class="cont">
                <div class="picshow"><a href="javascript:;" title="{$v['name']}"><img src="{$v['litpic']}" alt="{$v['name']}"/></a> </div>
                <div class="t"><a href="javascript:;" title="{$v['name']}">{$v['name']}</a></div>
 
              </div>
            </div>
          </div>
          {/if} </li>
        {/loop}
        {/pc}
      </ul>
      <div class="pa nav_block">
        <div class="pa nav_line"></div>
      </div>
    </div>
  </div>
  <div class="pa head_block">
    <div class="pa head_line"></div>
  </div>
</div>
