<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="author" content="{$webname}" />
<title>{$catename}-{$webname}</title>
<meta name="keywords" content="{$catekey}" />
<meta name="description" content="{$catedes}" />
<link rel="stylesheet" href="{PUBLIC}Public/Css/common.css" />
<link rel="stylesheet" href="{PUBLIC}Public/Css/bootstrap.css" />
<link rel="stylesheet" href="{PUBLIC}Public/Css/buttons.css" />
<link rel="stylesheet" href="{PUBLIC}Public/Css/font-awesome.min.css" />
<link rel="stylesheet" href="{PUBLIC}Public/FontAwesome/css/font-awesome.min.css" />
<script type="text/JavaScript" src='{PUBLIC}Public/Js/jquery.js'></script>
<script type="text/JavaScript" src='{PUBLIC}Public/Js/jquery.lazyload.js'></script>
<script type="text/JavaScript" src='{PUBLIC}Public/Js/bckToTop.js'></script>

</head>
</body>

{load head.html}
<div class="pageNavWrap">
    <div class="pageNav">
        <a href="/about.html" class="cur">关于我们</a>
        <a href="/join.html">加入我们</a>                
 
							
							</div>
</div>


<div class="mainWrap">
    <div class="main">
        <div class="singlepagemain">
             {$page[content]}
	    </div>
    </div>
</div>
{load foot.html}

</body>
</html>