<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员管理</title>
<link href="<?php echo base_url('public/admin');?>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo base_url('public/admin');?>/js/jquery-1.7.2.min.js"></script>
<script src="<?php echo base_url('public');?>/layer/layer.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('public/admin');?>/js/admin_public.js"></script>
<script>
function edit(url){
        $.layer({
        type: 2,
		shift: 'top', //从上动画弹出
        border: [0], //不显示边框
        maxmin: true,
        title: ['编辑', 'border:none; background:#3b95c8; color:#fff;' ],
        area: ['500', '300'],
        iframe: {src: url},
		end: function(index){
	     window.setTimeout("window.location='<?php echo $this->module_url('');?>'",2000); 
        }
    })
}
</SCRIPT>
<script language="javascript"> 
function tosubmit1() { document.submitform1.action="<?php echo $this->module_url('sort_s/')?>"; document.submitform1.submit(); } 
function tosubmit2() { 
var msg = "确定批量删除友情链接吗？删除将不可恢复！请确定！";   
if (confirm(msg)==true){   
document.submitform1.action="<?php echo $this->module_url('del_s/')?>"; document.submitform1.submit(); 
}else{   
return false;   
}  
} 


function p_del() {   
var msg = "请确定是否删除？";   
if (confirm(msg)==true){   
return true;
}else{   
return false;   
}  

 
}   
</script>
<script language="javascript">
  $(function ($) { 
	  //点击主菜单下面的子菜单全部选中
	   $('#selectAll').click(function (){
	       var inputs = $(this).parents('#app').find('input');
		   $(this).attr('checked') ? inputs.attr('checked','checked'):
		   inputs.removeAttr('checked');
	      });
       });
 
   
</script>

<style type="text/css">
<!--
.waibu {
	color: #FF0000;
}
.wu {
	background-image: url(<?php echo base_url('public/admin/');?>/images/toolbg.gif);
	font-family: "微软雅黑";
	line-height: 33px;
}
-->
</style>
 
</head>
<body>
<form name="submitform1" action="" method="post"  >
  <div class="place" > <span>位置：</span>
    <ul class="placeul">
      <li><a href="<?php echo site_url(APP_ADMIN.'/home/main')?>">后台首页</a></li>
      <li><a href="#">友情链接</a></li>
    </ul>
  </div>
  <div class="rightinfo">
    <div class="tools">
      <ul class="toolbar">
        <li><a  href="javascript:;" id="testMaxmin" ><span><img src="<?php echo base_url('public/admin');?>/images/t01.png" /></span>添加会员</a></li>
		
		  <li><span><img src="<?php echo base_url('public/admin');?>/images/t03.png" /></span> <input type="button" name="submit2" class="wu" value="批量删除" onclick="tosubmit2()" > </li>
      </ul>
 
    </div>
    <table class="tablelist" id="app">
      <thead>
        <tr>
          <th width="2%"> <input type="checkbox" id="selectAll" class='xzk' level='1'></th>
          <th width="3%" >ID</th>
          <th width="10%">用户名</th>
		  <th width="4%" >类型</th>
		  <th width="5%" >余额</th>
		  <th width="8%" >手机</th>
          <th width="10%" >电子邮箱</th>
          <th width="6%" >注册ip</th>
          <th width="6%" >注册时间</th>
		  <th width="10%" >最后登录</th>
          <th width="10%">操作</th>
        </tr>
      </thead>
      <tbody>
	  
 
        <?php foreach ($member as $v):?>
        <tr class="trz">
          <td><input name="del[]"  type="checkbox"   value="<?php echo $v['id']?>"  class='xzk'/>
          </td>
          <td><?php echo $v['id'];?> </td>
		  <td><?php echo $v['userid'];?> </td>
		  <td><?php echo $v['mtype'];?> </td>
		  
		  <td><?php echo $v['money']?> </td>
		
		  <td><a  target="_blank"  href="http://www.ip138.com:8080/search.asp?mobile=<?php echo $v['tel'];?>&action=mobile "><?php echo $v['tel'];?></a> </td>
		  <td><?php echo $v['email'];?> </td>
		  <td><?php echo $v['joinip'];?> </td>
		  <td><?php echo date('Y-m-d',$v['jointime']);?> </td>
		  <td><?php if($v['logintime'] == 0){ echo "从未登陆";}else{ echo date('Y-m-d h:i;s',$v['logintime']);}?> </td>
		  <td><a href="<?php echo $this->module_url('info/'.$v['id']);?>">信息</a> 产品 <a href="<?php echo $this->module_url('del/'.$v['id'])?>">删除</a>  <a href="">禁止</a> </td>
        </tr>
        <?php endforeach ?>
      </tbody>
    </table>
  </div>
</form>

<script>
$('#testMaxmin').on('click',  function(){           
    $.layer({
        type: 2,
		 shift: 'top', //从上动画弹出

        maxmin: true,
		border: [0], //不显示边框
        title: ['添加',        'border:none; background:#3b95c8; color:#fff;' ],
         area: ['500', '440'],
        iframe: {
            src: '<?php echo $this->module_url('add/');?>'
        },
		 end: function(index){
	
		  window.setTimeout("window.location='<?php echo $this->module_url('');?>'",2000); 

		}
    })
}); 
 </script>
</body>
</html>
