<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $title; ;?>-会员中心-<?php echo C('webname');?></title>
<link href="<?php echo base_url('public/modules/member/index')?>/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<?php $this->load->view('index_top.html')?>
<div id="content">
  <div class="wp">
    <div class="left">
      <ul>
        <li><a href="<?php echo site_url('member/home/setprofile');?>"  >个人资料 </a> </li>
        <li><a href="<?php echo site_url('member/home/tx');?>"  >上传头像</a> </li>
        <li><a href="<?php echo site_url('member/home/pwd');?>" class="hot">修改密码</a> </li>
         <li><a href="<?php echo site_url('member/login/logut');?>">安全退出</a> </li>
      </ul>
    </div>
    <div class="right">
      <div class="zl"  style="padding-left:80px; padding-top:30px;">
        <form action="<?php echo site_url('member/home/pwd_s')?>" method="post">
          <input type="hidden" name="id" value="<?php echo $id; ?>" />
          <div class="inputs"> 账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="in" style="width:300px;" type="text" name="userid" value="<?php echo $userid; ?>"  readOnly="true" />
          </div>
          <div class="inputs"> 旧&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码：&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="in" style="width:300px;"  type="password" name="pwd_j" value=""  />
          </div>
          <div class="inputs"> 新&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码：&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="in" style="width:300px;" type="password" name="pwd" value=""   />
          </div>
          <div class="inputs"> 重复新密码：&nbsp;&nbsp;&nbsp;
            <input class="in" style="width:300px;" type="password" name="pwd_reg" value="" />
          </div>
          <div class="inputs"> 
            <input type="submit" value="确定修改"   style="width:310px; margin-left:115px;"class="sub" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<?php $this->load->view('index_foot.html')?>
</body>
</html>
